/* extras */
html{
    box-sizing: border-box;
}
*, 
*:before,
*:after{
    box-sizing: inherit;
}

body{
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
figure{
    margin: 0;
}
h4{
    margin: 0;
}

/* contenedor grid */
.container{
    display: grid;
    grid-template-rows: 70px 1fr ;
    grid-template-columns: 90px 1fr ;
    grid-template-areas: "header header "
                         "aside content ";
    height: 100vh;

}

/* header */

header{
    grid-area: header;
    padding: 0 35px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    -webkit-box-shadow: 0px 4px 10px 2px rgba(163,163,163,1);
    -moz-box-shadow: 0px 4px 10px 2px rgba(163,163,163,1);
    box-shadow: 0px 4px 10px 2px rgba(163,163,163,1);
    z-index: 1;
}
header input{
    width: 460px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #a8a6b1;
    font-size: 1.1em;
    padding: 0 20px;
}
header figure img{
    width: 200px;
}
.user-settings {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
.user-settings figure img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}



/* aside */

aside{
    grid-area: aside;
    background-color: #fc6262;
    z-index: 2;
}
aside nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
}
aside nav figure{
    text-align: center;
    color: white;
    margin: 10px 0;
    padding: 5px 0;
}
aside nav figure:last-child{
    margin-top: auto;
}
nav img{
    width: 30px;
    height: 30px;
}
nav figure h4{
    font-size: 1em;
}

/* contenido-principal */
main{
    grid-area: content;
    background-color: green;
}