/* extras */

/* modelo de caja */
html{
    box-sizing: border-box;
}
*, 
*:before,
*:after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
    color:#2b2b2b;
}
body{
    margin: 0;
    font-size: 14px;
    font-family: montserrat;
}
figure{
    margin: 0;
}
h4{
    margin: 0;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 0;
    font-size: 1.7em;
    margin: 0;
    align-self: center;
}

/* contenedor grid */
.container{
    display: grid;
    grid-template-rows: 70px 1fr ;
    grid-template-columns: 120px 1fr ;
    grid-template-areas: "header header "
                         "aside content ";
    height: 100vh;

}

/* header */

header{
    grid-area: header;
    position: fixed;
    padding: 0 35px;
    background-color: #ffffff;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    webkit-box-shadow: 0px 4px 10px 2px rgb(238, 235, 235);
    -moz-box-shadow: 0px 4px 10px 2px rgba(163,163,163,1);
    box-shadow: 0px 4px 10px 2px rgb(238, 235, 235);
    z-index: 9;
    top: 0;
    height: 70px;
}
header input{
    width: 460px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #a8a6b1;
    font-size: 1.1em;
    padding: 0 20px;
}
header figure img{
    width: 200px;
}
.user-settings {
    display: flex;
    width: 200px;
    justify-content: space-between;
    align-items: center;
}
.user-settings figure img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}



/* aside */

aside{
    width: 120px;
    grid-area: aside;
    background-color: #fc6262;
    z-index: 10;
    position: fixed;
    top: 70px;
    height: calc(100vh - 70px);
}
aside nav{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: flex-start;
}
aside nav a{
    text-align: center;
    color: white;
    margin: 10px 0;
    padding: 5px 0;
    text-decoration: none;
}
aside nav a:last-child{
    margin-top: auto;
}
nav img{
    width: 30px;
    height: 30px;
}
nav a h4{
    font-size: 1em;
    text-decoration: none;
}

/* contenido-principal */
main{
    grid-area: content;
    display: grid;
    padding: 15px 30px;
    grid-gap: 10px 40px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr 50px 1fr 50px 1fr;
    grid-template-areas: "tittle-1 tittle-1 tittle-1"
                         "film-1 film-2 film-3"
                         "tittle-2 tittle-2 tittle-2"
                         "film-4 film-5 film-6"
                         "tittle-3 tittle-3 tittle-3"
                         "film-7 film-8 film-9";
}

.film{
    position: relative;
    overflow: hidden;
}
.film .film-info{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(252, 98, 98, 0.8);
    color: white;
    padding: 20px 10px 0px 10px;
    transition: all .3s ease;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
}
.film .film-info h3{
    font-size: 1.3em;
    line-height: 1.4em;
    margin: 0;
    padding-top: 20px;
    font-family: montserrat;
    letter-spacing: 1px;
}

.film .film-info p{
    font-size: 0.9em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5em;
    margin: 0;
    padding: 5px 0 10px 0;
}

.film img{
    width: 100%;
    vertical-align: top;
}
a.film:hover .film-info {
    height: 100%;
    font-size: 105%;
}

/* seccion 1 */
main h2:nth-of-type(1){
    grid-area: tittle-1;

}
main .film:nth-of-type(1){
    grid-area: film-1;
}
main .film:nth-of-type(2){
    grid-area: film-2;
}
main .film:nth-of-type(3){
    grid-area: film-3;
}

/* seccion 2 */
main h2:nth-of-type(2){
    grid-area: tittle-2;

}
main .film:nth-of-type(4){
    grid-area: film-4;
}
main .film:nth-of-type(5){
    grid-area: film-5;
}
main .film:nth-of-type(6){
    grid-area: film-6;
}

/* seccion 3 */
main h2:nth-of-type(3){
    grid-area: tittle-3;

}
main .film:nth-of-type(7){
    grid-area: film-7;
}
main .film:nth-of-type(8){
    grid-area: film-8;
}
main .film:nth-of-type(9){
    grid-area: film-9;
}